body {
  margin: 0;
  padding: 0;
}
:root {
  --background: #fff1e2;
  /* --background: #ff0000; */
  --navbarborder: #003a7b;
  --navbarbackground: #00499c;
  --footerbackground: #003a7b;
  --footerborder: #00499c;
  --dot: gray;
}
@font-face {
    font-family: IBM;
    src: url(../Fonts/IBMPlexSerif-SemiBold.ttf);
  }
/* Global Values */

body {
  background-color: var(--background);
}
.navbarlocation {
  margin: 10px 0px 0px 10px;
}
.navbarstyle {
    border-radius: 10px;
    border-style: solid;
    border-color: var(--navbarborder);
    background-color: var(--navbarbackground);
    color: white;
    text-decoration: none;
    font-family: IBM;
    font-size: 1.5vw;
    padding: 10px 40px 10px 40px;
    margin-left: 1.2vw;
    top: 10px;
}
