/* Main CSS */
.textwidth {
  max-width: 70vw;
  font-family: IBM;
  padding-bottom: 25px;
}
.newsplaceholder {
  max-width: 31.5vw;
  aspect-ratio: 16/9;
}
.rssfeed {
  width: 120vw;
  height: 500px;
}
.news {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0px 2vw 0px 2vw;
  position: relative;
}
.newstext {
  margin-left: 2vw;
}
.text2 {
  margin-left: 2vw;
  position: relative;
  top: 25px;
}
/* Footer CSS */
.footerbackground {
  background-color: var(--footerborder);
  position: relative;
  top: 25px;
  border-style: solid;
  border-width: 10px 0px 0px 0px;
  border-color: var(--footerbackground);
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footerh {
  margin-left: 2vw;
  color: white;
  font-family: IBM;
}
.footert {
  margin-left: 2vw;
  color: white;
  font-family: IBM;
}
.contacth {
  color: white;
  font-family: IBM;
}
.contactt {
  color: white;
  font-family: IBM;
  max-width: 20vw;
  line-height: 40px;
}
.contacta {
  color: white;
  font-family: IBM;
  max-width: 20vw;
  line-height: 40px;
  text-decoration: none;
  text-decoration: underline;
}
.iframe{
  width:25vw; 
  height: 40vh;
  margin-top: 19.920px;
}
